<svg viewBox="0 0 @width @height" xmlns="http://www.w3.org/2000/svg" @key="@Model">
    @if (Model is null)
    {
        <rect x="@offsetH"
              y="@padding"
              width="@(width - 2 * padding)"
              height="@(height - 2 * padding)"
              fill="@KnownColor.WhiteSmoke"
              stroke="@KnownColor.White"
              stroke-width="1px"
              vector-effect="non-scaling-stroke" />
        <text>
            <text x="@(width / 2)" y="@(height / 2)">NO DATA</text>
        </text>
        <line stroke="@KnownColor.Black"
              stroke-width="1px"
              vector-effect="non-scaling-stroke"
              x1="@(offsetH)"
              x2="@(width - padding)"
              y1="@offsetV"
              y2="@offsetV" />
    }
    else
    {
        if (Model.HasBreakPoints)
        {
            double start_value = Model.Axis.Min;
            foreach (Breakpoint breakpoint in Model)
            {
                <rect x="@((int)(offsetH + (start_value - Model.Axis.Min) * scaleH))"
                      y="@padding"
                      width="@((int)((breakpoint.Value - start_value) * scaleH))"
                      height="@(height - 2 * padding)"
                      fill="@breakpoint.Color"
                      fill-opacity="0.6"
                      stroke-width="1px"
                      vector-effect="non-scaling-stroke">
                    <title>@breakpoint.Label</title>
                </rect>
                start_value = breakpoint.Value;
            }
        }
        else if (Model.Axis.Contains(Model.Value))
        {
            <rect x="@offsetH"
                  y="@padding"
                  width="@((int)((Model.Value - Model.Axis.Min) * scaleH))"
                  height="@(height - 2 * padding)"
                  fill="@ProgressBarColor()"
                  stroke="@KnownColor.White"
                  fill-opacity="0.6"
                  stroke-width="1px"
                  vector-effect="non-scaling-stroke">
                <title>@($"value: {Model.Value.ToString("0.##")}")</title>
            </rect>
        }
        int tx = 0;
        foreach (double tick in Model.Axis.Ticks(5))
        {
            if (tx % 5 == 0)
            {
                <line stroke="@KnownColor.Black"
                        stroke-width="1px"
                        vector-effect="non-scaling-stroke"
                        x1="@((int)(offsetH + (tick - Model.Axis.Min) * scaleH))"
                        x2="@((int)(offsetH + (tick - Model.Axis.Min) * scaleH))"
                        y1="@(offsetV + padding / 5)"
                        y2="@offsetV" />
                <text>
                    <text x="@((int)(padding + (width - 2 * padding) * (tick - Model.Axis.Min) / Model.Axis.Size))"
                            y="@(offsetV + padding / 2)">
                        @tick
                    </text>
                </text>
            }
            else
            {
                <line stroke="@KnownColor.Black"
                        stroke-width="1px"
                        vector-effect="non-scaling-stroke"
                        x1="@((int)(offsetH + (tick - Model.Axis.Min) * scaleH))"
                        x2="@((int)(offsetH + (tick - Model.Axis.Min) * scaleH))"
                        y1="@(offsetV + padding / 10)"
                        y2="@offsetV" />
            }
            tx++;
        }
        <line stroke="@KnownColor.Black"
                stroke-width="1px"
                vector-effect="non-scaling-stroke"
                x1="@(offsetH)"
                x2="@(width - padding)"
                y1="@offsetV"
                y2="@offsetV" />

        if (Model.HasBreakPoints && Model.Axis.Contains(Model.Value))
        {
            <rect x="@((int)(offsetH + (Model.Value - Model.Axis.Min) * scaleH - padding / 10))"
                  y="@(9 * padding / 10)"
                  width="@(padding / 5)"
                  height="@(height - 9 * padding / 5)"
                  fill="@KnownColor.GhostWhite"
                  stroke="@KnownColor.Black"
                  stroke-width="1px"
                  fill-opacity="1.0"
                  vector-effect="non-scaling-stroke">
                <title>@($"value: {Model.Value.ToString("0.##")}")</title>
            </rect>
        }
    }
</svg>
