@page "/"

<PageTitle>Home</PageTitle>

<table style="width: 100%; table-layout: fixed;">
    <tr>
        <td style="width: 50%"><LineChart Model="@linegram"></LineChart></td>
        <td style="width: 50%"><LegendBar Model="@linegram"></LegendBar></td>
    </tr>
    <tr>
        <td><HistChart Model="@histogram" OnClick="BinClickHandler"></HistChart></td>
        <td><HistChart Model="@histogram2" OnClick="BinClickHandler"></HistChart></td>
    </tr>
    <tr>
        <td><HorizontalBarChart Model="@bargram2" OnClick="BarClickHandler"></HorizontalBarChart></td>
        <td><BarChart Model="@bargram2" OnClick="BarClickHandler"></BarChart></td>
    </tr>
    <tr>
        <td><BarChart Model="@bargram" OnClick="BarClickHandler"></BarChart></td>
        <td><HorizontalBarChart Model="@bargram" OnClick="BarClickHandler"></HorizontalBarChart></td>
    </tr>
    <tr>
        <td><RadarChart Model="@radargram"></RadarChart></td>
        <td><LegendBar Model="@radargram" Direction="Positioning.Vertical"></LegendBar></td>
    </tr>
    <tr>
        <td>
            <PolarChart Model="@polargram" OnClick="SliceClickHandler"></PolarChart>
            <LegendBar Model="@polargram" Direction="Positioning.Horizontal"></LegendBar>
        </td>
        <td><LegendBar Model="@polargram"></LegendBar></td>
    </tr>
    <tr>
        <td>
            <PieChart Model="@piegram" OnClick="SliceClickHandler"></PieChart>
            <LegendBar Model="@piegram" Direction="Positioning.Horizontal"></LegendBar>
        </td>
        <td><LegendBar Model="@piegram"></LegendBar></td>
    </tr>
    <tr>
        <td>
            <DonutChart Model="@piegram" OnClick="SliceClickHandler"></DonutChart>
            <LegendBar Model="@piegram" Direction="Positioning.Horizontal"></LegendBar>
        </td>
        <td><LegendBar Model="@piegram"></LegendBar></td>
    </tr>
    <tr>
        <td>
            <LinearGauge Model="@gaugegram"></LinearGauge>
            <LegendBar Model="@gaugegram" Direction="Positioning.Horizontal"></LegendBar>
        </td>
        <td><LegendBar Model="@gaugegram"></LegendBar></td>
    </tr>
    <tr>
        <td>
            <SemiCircleGauge Model="@gaugegram"></SemiCircleGauge>
            <LegendBar Model="@gaugegram" Direction="Positioning.Horizontal"></LegendBar>
        </td>
        <td><LegendBar Model="@gaugegram"></LegendBar></td>
    </tr>
    <tr>
        <td>
            <LinearGauge Model="@gaugegram2"></LinearGauge>
            <LegendBar Model="@gaugegram2" Direction="Positioning.Horizontal"></LegendBar>
        </td>
        <td><LegendBar Model="@gaugegram2"></LegendBar></td>
    </tr>
    <tr>
        <td>
            <SemiCircleGauge Model="@gaugegram2"></SemiCircleGauge>
            <LegendBar Model="@gaugegram2" Direction="Positioning.Horizontal"></LegendBar>
        </td>
        <td><LegendBar Model="@gaugegram2"></LegendBar></td>
    </tr>
</table>

<ol>
    @foreach (string message in events)
    {
        <li>@message</li>
    }
</ol>

