@page "/"

<PageTitle>Home</PageTitle>

<table style="width: 100%; table-layout: fixed; font-family: system-ui">
    <tr>
        <td style="width: 50%"><LineChart Theme="Theme.Dark" Model="@chartgram" ShowPoints="true"></LineChart></td>
        <td style="width: 50%"><LineChart Theme="Theme.Light" Model="@chartgram" ShowPoints="true"></LineChart></td>
        <td style="width: 50%"><StepChart Theme="Theme.Arctic" Model="@chartgram" ShowPoints="true"></StepChart></td>
        <td style="width: 50%"><StepChart Theme="Theme.Neon" Model="@chartgram" ShowPoints="true"></StepChart></td>
    </tr>
    <tr>
        <td><ScatterChart Theme="Theme.Dark" Model="@chartgram"></ScatterChart></td>
        <td><ScatterChart Theme="Theme.Light" Model="@chartgram"></ScatterChart></td>
        <td><ScatterChart Theme="Theme.Arctic" Model="@chartgram"></ScatterChart></td>
        <td><ScatterChart Theme="Theme.Neon" Model="@chartgram"></ScatterChart></td>
    </tr>
    <tr>
        <td><HistChart Theme="Theme.Dark" Model="@histogram" OnClick="BinClickHandler"></HistChart></td>
        <td><HistChart Theme="Theme.Light" Model="@histogram" OnClick="BinClickHandler"></HistChart></td>
        <td><HistChart Theme="Theme.Arctic" Model="@histogram" OnClick="BinClickHandler"></HistChart></td>
        <td><HistChart Theme="Theme.Beach" Model="@histogram" OnClick="BinClickHandler"></HistChart></td>
    </tr>
    <tr>
        <td><HorizontalBarChart Theme="Theme.Dark" Model="@bargram2" OnClick="BarClickHandler"></HorizontalBarChart></td>
        <td><HorizontalBarChart Theme="Theme.Light" Model="@bargram2" OnClick="BarClickHandler"></HorizontalBarChart></td>
        <td><HorizontalBarChart Theme="Theme.Arctic" Model="@bargram2" OnClick="BarClickHandler"></HorizontalBarChart></td>
        <td><HorizontalBarChart Theme="Theme.Beach" Model="@bargram2" OnClick="BarClickHandler"></HorizontalBarChart></td>
    </tr>
    <tr>
        <td><VerticalBarChart Theme="Theme.Dark" Model="@bargram2" OnClick="BarClickHandler"></VerticalBarChart></td>
        <td><VerticalBarChart Theme="Theme.Light" Model="@bargram2" OnClick="BarClickHandler"></VerticalBarChart></td>
        <td><VerticalBarChart Theme="Theme.Arctic" Model="@bargram2" OnClick="BarClickHandler"></VerticalBarChart></td>
        <td><VerticalBarChart Theme="Theme.Beach" Model="@bargram2" OnClick="BarClickHandler"></VerticalBarChart></td>
    </tr>
    <tr>
        <td><RadarChart Theme="Theme.Dark" Model="@radargram"></RadarChart></td>
        <td><RadarChart Theme="Theme.Dark" Model="@radargram"></RadarChart></td>
        <td><RadarChart Theme="Theme.Light" Model="@radargram"></RadarChart></td>
        <td><RadarChart Theme="Theme.Arctic" Model="@radargram"></RadarChart></td>
    </tr>
    <tr>
        <td><PolarAreaChart Theme="Theme.Beach" Model="@polargram"></PolarAreaChart></td>
        <td><PolarAreaChart Theme="Theme.Light" Model="@polargram"></PolarAreaChart></td>
        <td><PolarAreaChart Theme="Theme.Dark" Model="@polargram"></PolarAreaChart></td>
        <td><PolarAreaChart Theme="Theme.Light" Model="@polargram"></PolarAreaChart></td>
    </tr>
    <tr>
        <td><PieChart Theme="Theme.Beach" Model="@piegram"></PieChart></td>
        <td><PieChart Theme="Theme.Light" Model="@piegram"></PieChart></td>
        <td><PieChart Theme="Theme.Dark" Model="@piegram"></PieChart></td>
        <td><PieChart Theme="Theme.Light" Model="@piegram"></PieChart></td>
    </tr>
    <tr>
        <td><DonutChart Theme="Theme.Beach" Model="@piegram"></DonutChart></td>
        <td><DonutChart Theme="Theme.Light" Model="@piegram"></DonutChart></td>
        <td><DonutChart Theme="Theme.Dark" Model="@piegram"></DonutChart></td>
        <td><DonutChart Theme="Theme.Light" Model="@piegram"></DonutChart></td>
    </tr>
    <tr>
        <td><LinearGauge Theme="Theme.Beach" Model="@gaugegram2"></LinearGauge></td>
        <td><LinearGauge Theme="Theme.Light" Model="@gaugegram2"></LinearGauge></td>
        <td><LinearGauge Theme="Theme.Dark" Model="@gaugegram2" Reverse="true"></LinearGauge></td>
        <td><LinearGauge Theme="Theme.Light" Model="@gaugegram2" Reverse="true"></LinearGauge></td>
    </tr>
    <tr>
        <td><LinearGauge Theme="Theme.Arctic" Model="@gaugegram"></LinearGauge></td>
        <td><LinearGauge Theme="Theme.Light" Model="@gaugegram"></LinearGauge></td>
        <td><LinearGauge Theme="Theme.Beach" Model="@gaugegram" Reverse="true"></LinearGauge></td>
        <td><LinearGauge Theme="Theme.Beach" Model="@gaugegram" Reverse="true"></LinearGauge></td>
    </tr>
    <tr>
        <td>
            <table style="width:100%">
                <tr>
                    <td><VerticalGauge Theme="Theme.Light" Model="@gaugegram2" Reverse="true"></VerticalGauge></td>
                    <td><VerticalGauge Theme="Theme.Arctic" Model="@gaugegram2"></VerticalGauge></td>
                    <td><VerticalGauge Model="@gaugegram2"></VerticalGauge></td>
                </tr>
            </table>
        </td>
        <td>
            <table style="width:100%">
                <tr>
                    <td><VerticalGauge Theme="Theme.Beach" Model="@gaugegram2" Reverse="true"></VerticalGauge></td>
                    <td><VerticalGauge Theme="Theme.Beach" Model="@gaugegram2"></VerticalGauge></td>
                    <td><VerticalGauge Theme="Theme.Dark"></VerticalGauge></td>
                </tr>
            </table>
        </td>
        <td>
            <table style="width:100%">
                <tr>
                    <td><VerticalGauge Theme="Theme.Light" Model="@gaugegram" Reverse="true"></VerticalGauge></td>
                    <td><VerticalGauge Theme="Theme.Dark" Model="@gaugegram"></VerticalGauge></td>
                    <td><VerticalGauge Theme="Theme.Light" Model="@gaugegram"></VerticalGauge></td>
                </tr>
            </table>
        </td>
        <td>
            <table style="width:100%">
                <tr>
                    <td><VerticalGauge Model="@gaugegram"></VerticalGauge></td>
                    <td><VerticalGauge Theme="Theme.Arctic" Model="@gaugegram"></VerticalGauge></td>
                    <td><VerticalGauge Theme="Theme.Arctic" Model="@gaugegram" Reverse="true"></VerticalGauge></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td><SemiCircleGauge Theme="Theme.Dark" Model="@gaugegram2"></SemiCircleGauge></td>
        <td><SemiCircleGauge Theme="Theme.Dark" Model="@gaugegram2"></SemiCircleGauge></td>
        <td><SemiCircleGauge Theme="Theme.Light" Model="@gaugegram"></SemiCircleGauge></td>
        <td><SemiCircleGauge Theme="Theme.Beach" Model="@gaugegram"></SemiCircleGauge></td>
    </tr>
    <tr>
        <td><Speedometer Theme="Theme.Beach" Model="@gaugegram2" InnerAxis="true"></Speedometer></td>
        <td><Speedometer Theme="Theme.Light" Model="@gaugegram2" InnerAxis="false"></Speedometer></td>
        <td><Speedometer Theme="Theme.Light" Model="@gaugegram" InnerAxis="true"></Speedometer></td>
        <td><Speedometer Theme="Theme.Arctic" Model="@gaugegram" InnerAxis="false"></Speedometer></td>
    </tr>
    <tr>
        <td><LegendHorizontal Theme="Theme.Beach" Model="chartgram"></LegendHorizontal></td>
        <td><LegendVertical Theme="Theme.Light" Model="bargram2"></LegendVertical></td>
        <td><LegendVertical Theme="Theme.Dark" Model="gaugegram"></LegendVertical></td>
        <td><LegendHorizontal Theme="Theme.Dark" Model="polargram"></LegendHorizontal></td>
    </tr>
</table>

<ol>
    @foreach (string message in events)
    {
        <li>@message</li>
    }
</ol>

