@page "/"

<PageTitle>Home</PageTitle>

<table style="width: 100%; table-layout: fixed; font-family: system-ui">
    <tr>
        <td style="width: 50%"><LineChart Theme="Theme.Dark" Model="@linegram"></LineChart></td>
        <td style="width: 50%"><LineChart Theme="Theme.Light" Model="@linegram"></LineChart></td>
        <td style="width: 50%"><LineChart Theme="Theme.Arctic" Model="@linegram"></LineChart></td>
        <td style="width: 50%"><LineChart Theme="Theme.Neon" Model="@linegram"></LineChart></td>
    </tr>
    <tr>
        <td><HistChart Theme="Theme.Dark" Model="@histogram" OnClick="BinClickHandler"></HistChart></td>
        <td><HistChart Theme="Theme.Light" Model="@histogram" OnClick="BinClickHandler"></HistChart></td>
        <td><HistChart Theme="Theme.Arctic" Model="@histogram" OnClick="BinClickHandler"></HistChart></td>
        <td><HistChart Theme="Theme.Beach" Model="@histogram" OnClick="BinClickHandler"></HistChart></td>
    </tr>
    <tr>
        <td><HorizontalBarChart Theme="Theme.Dark" Model="@bargram2" OnClick="BarClickHandler"></HorizontalBarChart></td>
        <td><HorizontalBarChart Theme="Theme.Light" Model="@bargram2" OnClick="BarClickHandler"></HorizontalBarChart></td>
        <td><HorizontalBarChart Theme="Theme.Arctic" Model="@bargram2" OnClick="BarClickHandler"></HorizontalBarChart></td>
        <td><HorizontalBarChart Theme="Theme.Beach" Model="@bargram2" OnClick="BarClickHandler"></HorizontalBarChart></td>
    </tr>
    <tr>
        <td><BarChart Theme="Theme.Dark" Model="@bargram2" OnClick="BarClickHandler"></BarChart></td>
        <td><BarChart Theme="Theme.Light" Model="@bargram2" OnClick="BarClickHandler"></BarChart></td>
        <td><BarChart Theme="Theme.Arctic" Model="@bargram2" OnClick="BarClickHandler"></BarChart></td>
        <td><BarChart Theme="Theme.Beach" Model="@bargram2" OnClick="BarClickHandler"></BarChart></td>
    </tr>
    <tr>
        <td><RadarChart Theme="Theme.Dark" Model="@radargram"></RadarChart></td>
        <td><RadarChart Theme="Theme.Light" Model="@radargram"></RadarChart></td>
        <td><RadarChart Theme="Theme.Arctic" Model="@radargram"></RadarChart></td>
        <td><RadarChart Theme="Theme.Beach" Model="@radargram"></RadarChart></td>
    </tr>
    <tr>
        <td><PolarChart Theme="Theme.Dark" Model="@polargram"></PolarChart></td>
        <td><PolarChart Theme="Theme.Light" Model="@polargram"></PolarChart></td>
        <td><PolarChart Theme="Theme.Arctic" Model="@polargram"></PolarChart></td>
        <td><PolarChart Theme="Theme.Beach" Model="@polargram"></PolarChart></td>
    </tr>
    <tr>
        <td><PieChart Theme="Theme.Dark" Model="@piegram"></PieChart></td>
        <td><PieChart Theme="Theme.Light" Model="@piegram"></PieChart></td>
        <td><PieChart Theme="Theme.Arctic" Model="@piegram"></PieChart></td>
        <td><PieChart Theme="Theme.Beach" Model="@piegram"></PieChart></td>
    </tr>
    <tr>
        <td><DonutChart Theme="Theme.Dark" Model="@piegram"></DonutChart></td>
        <td><DonutChart Theme="Theme.Light" Model="@piegram"></DonutChart></td>
        <td><DonutChart Theme="Theme.Arctic" Model="@piegram"></DonutChart></td>
        <td><DonutChart Theme="Theme.Beach" Model="@piegram"></DonutChart></td>
    </tr>
    <tr>
        <td><LinearGauge Theme="Theme.Dark" Model="@gaugegram2"></LinearGauge></td>
        <td><LinearGauge Theme="Theme.Light" Model="@gaugegram2"></LinearGauge></td>
        <td><LinearGauge Theme="Theme.Arctic" Model="@gaugegram2"></LinearGauge></td>
        <td><LinearGauge Theme="Theme.Beach" Model="@gaugegram2"></LinearGauge></td>
    </tr>
    <tr>
        <td><LinearGauge Theme="Theme.Dark" Model="@gaugegram"></LinearGauge></td>
        <td><LinearGauge Theme="Theme.Light" Model="@gaugegram"></LinearGauge></td>
        <td><LinearGauge Theme="Theme.Arctic"></LinearGauge></td>
        <td><LinearGauge Theme="Theme.Beach"></LinearGauge></td>
    </tr>
    <tr>
        <td><SemiCircleGauge Theme="Theme.Dark" Model="@gaugegram2"></SemiCircleGauge></td>
        <td><SemiCircleGauge Theme="Theme.Light" Model="@gaugegram2"></SemiCircleGauge></td>
        <td><SemiCircleGauge Theme="Theme.Arctic" Model="@gaugegram2"></SemiCircleGauge></td>
        <td><SemiCircleGauge Theme="Theme.Beach" Model="@gaugegram2"></SemiCircleGauge></td>
    </tr>
    <tr>
        <td><SemiCircleGauge Theme="Theme.Dark" Model="@gaugegram"></SemiCircleGauge></td>
        <td><SemiCircleGauge Theme="Theme.Light" Model="@gaugegram"></SemiCircleGauge></td>
        <td><SemiCircleGauge Theme="Theme.Arctic" Model="@gaugegram"></SemiCircleGauge></td>
        <td><SemiCircleGauge Theme="Theme.Beach" Model="@gaugegram"></SemiCircleGauge></td>
    </tr>
    <tr>
        <td><LegendBar Theme="Theme.Neon" Direction="Positioning.Horizontal" Model="linegram"></LegendBar></td>
        <td><LegendBar Theme="Theme.Light" Direction="Positioning.Horizontal" Model="bargram2"></LegendBar></td>
        <td><LegendBar Theme="Theme.Arctic" Direction="Positioning.Horizontal" Model="histogram"></LegendBar></td>
        <td><LegendBar Theme="Theme.Dark" Direction="Positioning.Horizontal" Model="polargram"></LegendBar></td>
    </tr>
</table>

<ol>
    @foreach (string message in events)
    {
        <li>@message</li>
    }
</ol>

