@page "/"

<PageTitle>Home</PageTitle>

<table style="width: 100%;">
    <tr>
        <td><HistChart Model="@histogram" Color="@KnownColor.CadetBlue" OnClick="BinClickHandler"></HistChart></td>
        <td><BarChart Model="@bargram" Color="KnownColor.RoyalBlue" OnClick="BarClickHandler"></BarChart></td>
    </tr>
    <tr>
        <td><LineChart Model="@linegram"></LineChart></td>
        <td><RadarChart Model="@radargram" Color="KnownColor.MediumVioletRed"></RadarChart></td>
    </tr>
    <tr>
        <td><PieChart Model="@piegram" OnClick="SliceClickHandler"></PieChart></td>
        <td><PolarChart Model="@polargram" OnClick="SliceClickHandler"></PolarChart></td>
    </tr>
</table>

<ol>
    @foreach (string message in events)
    {
        <li>@message</li>
    }
</ol>

