<svg viewBox="0 0 @width @height" xmlns="http://www.w3.org/2000/svg" @key="@Model">
    @if(Model != null)
    {
        foreach(KeyValuePair<string, Bin> kvp in Model)
        {
            string label = kvp.Key;
            Bin bin = kvp.Value;

            <path fill="@Color"
                  stroke="@Color"
                  fill-opacity="0.6"
                  stroke-width="1px"
                  vector-effect="non-scaling-stroke"
                  d="@BinPath(bin)"
                  @key="@kvp"
                  @onclick="async() => await OnClick.InvokeAsync(new Bar(label, bin.Value))">
                <title>@($"value: {bin.Value}")</title>
            </path> 
            <text>
                <text class="tick" x="@((int)(padding + (width - 2 * padding) * ((bin.Max + bin.Min) / 2 - Model.AxisX.Min) / Model.AxisX.Range))" y="@(height - 3 * padding / 4)">@label</text>
            </text>
        }

        int ty = 0;
        foreach (double tick in Model.AxisY.Ticks())
        {
            ty++;
            <line stroke="@KnownColor.Black"
                  stroke-width="1px"
                  vector-effect="non-scaling-stroke"
                  x1="@(padding)"
                  x2="@(padding + padding / (ty % 5 == 0 ? 5 : 10))"
                  y1="@((int)(height - padding - (height - 2 * padding) * (tick - Model.AxisY.Min) / Model.AxisY.Range))"
                  y2="@((int)(height - padding - (height - 2 * padding) * (tick - Model.AxisY.Min) / Model.AxisY.Range))" />

            if (ty % 5 == 0)
            {
                <text>
                    <text class="tick" y="@((int)(height - padding - (height - 2 * padding) * (tick - Model.AxisY.Min) / Model.AxisY.Range))" x="@(3 * padding / 4)">@tick</text>
                </text>
            }
        }

        <line stroke="@KnownColor.Black"
              stroke-width="1px"
              vector-effect="non-scaling-stroke"
              x1="@padding"
              x2="@padding"
              y1="@padding"
              y2="@(height - padding)"/>

        <line stroke="@KnownColor.Black"
              stroke-width="1px"
              vector-effect="non-scaling-stroke"
              x1="@padding"
              x2="@(width - padding)"
              y1="@(height - padding)"
              y2="@(height - padding)" />

        <text>
            <text x="@(width / 2)" y="@(height - padding / 4)">@Model.TitleX</text>
            <text transform="translate(@(padding / 4),@(height / 2)) rotate(-90)">@Model.TitleY</text>
        </text>
    }
</svg>
