<svg viewBox="@(-padding / 2) 0 @width @height" xmlns="http://www.w3.org/2000/svg" @key="@Model" style="background-color: @Theme.BackgroundString(); font-family: @Theme.FontString()">
    @if (Model is null || Model.IsEmpty)
    {
        <rect x="@offsetH"
              y="@padding"
              width="@(width - 2 * padding)"
              height="@(height - 2 * padding)"
              fill="@Theme.BackgroundString()"/>
    }
    else
    {
        foreach (KeyValuePair<string, Bin> kvp in Model)
        {
            string label = kvp.Key;
            Bin bin = kvp.Value;

            @if (bin.Value < 0)
            {
                <rect x="@(offsetH + (int)((bin.Min - Model.BinAxis.Min) * scaleH))"
                      y="@originV"
                      width="@((int)((bin.Max - bin.Min) * scaleH))"
                      height="@((int)(-bin.Value * scaleV))"
                      fill="@(Model.SecondaryColor.ToHex())"
                      stroke="@(Model.SecondaryColor.ToHex())"
                      fill-opacity="0.6"
                      stroke-width="1px"
                      vector-effect="non-scaling-stroke"
                      @key="@kvp"
                      @onclick="async () => await OnClick.InvokeAsync(new Bar(label, bin.Value))">
                    <title>@bin.Value.ToString("0.##")</title>
                </rect>
                <SvgTextRotated270 X="@(offsetH + (int)(((bin.Max + bin.Min) / 2 - Model.BinAxis.Min) * scaleH))"
                                   Y="@(originV)"
                                   Size="40"
                                   Fill="@Theme.TextColor"
                                   Text="@label" />
            }
            else
            {
                <rect x="@(offsetH + (int)((bin.Min - Model.BinAxis.Min) * scaleH))"
                      y="@(originV - (int)(bin.Value * scaleV))"
                      width="@((int)((bin.Max - bin.Min) * scaleH))"
                      height="@((int)(bin.Value * scaleV))"
                      fill="@(Model.PrimaryColor.ToHex())"
                      stroke="@(Model.PrimaryColor.ToHex())"
                      fill-opacity="0.6"
                      stroke-width="1px"
                      vector-effect="non-scaling-stroke"
                      @key="@kvp"
                      @onclick="async () => await OnClick.InvokeAsync(new Bar(label, bin.Value))">
                    <title>@bin.Value.ToString("0.##")</title>
                </rect>
                <SvgTextRotated90 X="@(offsetH + (int)(((bin.Max + bin.Min) / 2 - Model.BinAxis.Min) * scaleH))"
                                  Y="@(originV)"
                                  Size="40"
                                  Fill="@Theme.TextColor"
                                  Text="@label"/>
            }
        }
        @Model.ValAxis.RenderVertical(LayoutAxisY, Theme);
        @Model.BinAxis.RenderHorizontal(LayoutAxisX, Theme);

        <SvgTextStart X="@(padding / 2)"
                      Y="@(originV > height / 2 ? padding / 2 : height - padding / 2)"
                      Size="40"
                      Fill="@Theme.TextColor"
                      Text="@Model.Title" />
    }
</svg>
