<svg viewBox="@(-padding / 4) 0 @width @height" xmlns="http://www.w3.org/2000/svg" @key="@Model">
    @if (Model is null || Model.IsEmpty)
    {
        <text>
            <text y="@((height / 2))" x="@(width / 2)">NO DATA</text>
        </text>
    }
    else
    {
        foreach(KeyValuePair<string, Bin> kvp in Model)
        {
            string label = kvp.Key;
            Bin bin = kvp.Value;

            if (Direction == Positioning.Vertical)
            {
                <path fill="@Model.Color"
                      stroke="@Model.Color"
                      fill-opacity="0.6"
                      stroke-width="1px"
                      vector-effect="non-scaling-stroke"
                      d="@VerticalBinPath(bin)"
                      @key="@kvp"
                      @onclick="async() => await OnClick.InvokeAsync(new Bar(label, bin.Value))">
                    <title>@($"value: {bin.Value}")</title>
                </path> 
                <text>
                    <text class="rotated45" 
                          x="@((int)(offsetH + ((bin.Max + bin.Min) / 2 - Model.BinAxis.Min) * scaleH))" 
                          y="@(height - padding / 6)">
                          @(label?.Length > 5 ? $"{label.Substring(0, 4)}..." : label)
                    </text>
                </text>
            }
            else if (Direction == Positioning.Horizontal)
            {
                <path fill="@Model.Color"
                      stroke="@Model.Color"
                      fill-opacity="0.6"
                      stroke-width="1px"
                      vector-effect="non-scaling-stroke"
                      d="@HorizontalBinPath(bin)"
                      @key="@kvp"
                      @onclick="async () => await OnClick.InvokeAsync(new Bar(label, bin.Value))">
                    <title>@($"value: {bin.Value}")</title>
                </path>
                <text>
                    <text class="anchor-end" 
                          x="@((int)(padding * 5 / 6))"
                          y="@((int)(padding + ((bin.Max + bin.Min) / 2 - Model.BinAxis.Min) * scaleV))">
                          @(label?.Length > 5 ? $"{label.Substring(0, 4)}..." : label)
                    </text>
                </text>
            }
        }

        int ty = 0;
        foreach (double tick in Model.ValAxis.Ticks(5))
        {
            if (Direction == Positioning.Vertical)
            {
                if (tick != Model.ValAxis.Min)
                {
                    <line stroke="@KnownColor.Black"
                          stroke-width="1px"
                          vector-effect="non-scaling-stroke"
                          x1="@(offsetH)"
                          x2="@(offsetH + padding / (ty % 5 == 0 ? 5 : 10))"
                          y1="@((int)(height - padding - (height - 2 * padding) * (tick - Model.ValAxis.Min) / Model.ValAxis.Size))"
                          y2="@((int)(height - padding - (height - 2 * padding) * (tick - Model.ValAxis.Min) / Model.ValAxis.Size))" />
                }

                if (ty % 5 == 0)
                {
                    <text>
                        <text class="anchor-end" 
                              y="@((int)(offsetV - (tick - Model.ValAxis.Min) * scaleV))" 
                              x="@(3 * padding / 4)">
                              @tick
                        </text>
                    </text>
                }
            }
            else if (Direction == Positioning.Horizontal)
            {
                if (tick != Model.ValAxis.Min)
                {
                    <line stroke="@KnownColor.Black"
                          stroke-width="1px"
                          vector-effect="non-scaling-stroke"
                          y1="@(offsetV)"
                          y2="@(offsetV - padding / (ty % 5 == 0 ? 5 : 10))"
                          x1="@((int)(offsetH + (tick - Model.ValAxis.Min) * scaleH))"
                          x2="@((int)(offsetH + (tick - Model.ValAxis.Min) * scaleH))" />
                }

                if (ty % 5 == 0)
                {
                    <text>
                        <text x="@((int)(offsetH + (tick - Model.ValAxis.Min) * scaleH))" 
                              y="@(offsetV + 2 * padding / 5)">
                              @tick
                        </text>
                    </text>
                }
            }
            ty++;
        }
    }

    <line stroke="@KnownColor.Black"
          stroke-width="1px"
          vector-effect="non-scaling-stroke"
          x1="@offsetH"
          x2="@offsetH"
          y1="@padding"
          y2="@offsetV" />

    <line stroke="@KnownColor.Black"
          stroke-width="1px"
          vector-effect="non-scaling-stroke"
          x1="@offsetH"
          x2="@(width - padding)"
          y1="@offsetV"
          y2="@offsetV" />

    @if (Direction == Positioning.Vertical)
    {
        <text>
            <text class="anchor-start" 
                  x="@(padding / 2)" 
                  y="@(padding / 2)">
                  @(Model?.Title)
            </text>
        </text>
    }
    else if (Direction == Positioning.Horizontal)
    {
        <text>
            <text x="@(width / 2)" 
                  y="@(height - padding / 4)">
                  @(Model?.Title)
            </text>
        </text>
    }

</svg>
