<svg viewBox="@(-padding / 4) 0 @width @height" xmlns="http://www.w3.org/2000/svg" @key="@Model">
    @if (Model is null || Model.IsEmpty)
    {
        <rect x="@offsetH"
              y="@padding"
              width="@(width - 2 * padding)"
              height="@(height - 2 * padding)"
              fill="@KnownColor.WhiteSmoke"
              stroke="@KnownColor.White"
              stroke-width="1px"
              vector-effect="non-scaling-stroke" />
        <text>
            <text y="@((height / 2))" x="@(width / 2)">NO DATA</text>
        </text>
    }
    else
    {
        foreach(KeyValuePair<string, Bin> kvp in Model)
        {
            string label = kvp.Key;
            Bin bin = kvp.Value;

            <path fill="@Model.Color.ToHex()"
                  stroke="@Model.Color.ToHex()"
                  fill-opacity="0.6"
                  stroke-width="1px"
                  vector-effect="non-scaling-stroke"
                  d="@BinPath(bin)"
                  @key="@kvp"
                  @onclick="async() => await OnClick.InvokeAsync(new Bar(label, bin.Value))">
                <title>@($"value: {bin.Value}")</title>
            </path> 
            <text>
                <text class="rotated90" 
                      x="@(offsetH + (int)(((bin.Max + bin.Min) / 2 - Model.BinAxis.Min) * scaleH))"
                      y="@(originV + padding / 2 * (bin.Value >= 0 ? 1 : -1))">
                      @(label?.Length > 5 ? $"{label.Substring(0, 4)}.." : label)
                </text>
            </text>            
        }

        int ty = 0;
        foreach (double tick in Model.ValAxis.Ticks(5))
        {
            <line stroke="@KnownColor.Black"
                  stroke-width="1px"
                  vector-effect="non-scaling-stroke"
                  x1="@(offsetH)"
                  x2="@(offsetH + padding / (ty % 5 == 0 ? 5 : 10))"
                  y1="@((int)(height - padding - (height - 2 * padding) * (tick - Model.ValAxis.Min) / Model.ValAxis.Size))"
                  y2="@((int)(height - padding - (height - 2 * padding) * (tick - Model.ValAxis.Min) / Model.ValAxis.Size))" />

            if (ty % 5 == 0)
            {
                <text>
                    <text class="anchor-end" 
                          y="@((int)(offsetV - (tick - Model.ValAxis.Min) * scaleV))" 
                          x="@(3 * padding / 4)">
                          @tick
                    </text>
                </text>
            }
            ty++;
        }
    }

    <line stroke="@KnownColor.Black"
          stroke-width="1px"
          vector-effect="non-scaling-stroke"
          x1="@offsetH"
          x2="@offsetH"
          y1="@padding"
          y2="@offsetV" />

    <line stroke="@KnownColor.Black"
          stroke-width="1px"
          vector-effect="non-scaling-stroke"
          x1="@offsetH"
          x2="@(width - padding)"
          y1="@originV"
          y2="@originV" />

    <text class="anchor-start" 
          x="@(padding / 2)" 
          y="@(originV > height / 2 ? padding / 2 : height - padding / 2)">
          @(Model?.Title)
    </text>
</svg>
