<svg viewBox="0 0 @width @height" xmlns="http://www.w3.org/2000/svg" @key="@Model">
    @if(Model != null)
    {
        foreach(Bin bin in Model)
        {
            if (bin.Value != 0)
            {
               <path fill="@Color"
                     stroke="@Color"
                     fill-opacity="0.6"
                     stroke-width="1px"
                     vector-effect="non-scaling-stroke"
                     d="@BinPath(bin)"
                     @key="@bin">
                    <title>@($"value: {bin.Value}")</title>
               </path> 
            }
        }

        <line stroke="@KnownColor.Black"
              stroke-width="1px"
              vector-effect="non-scaling-stroke"
              x1="@padding"
              x2="@padding"
              y1="@padding"
              y2="@(height - padding)"/>

        <line stroke="@KnownColor.Black"
              stroke-width="1px"
              vector-effect="non-scaling-stroke"
              x1="@padding"
              x2="@(width - padding)"
              y1="@(height - padding)"
              y2="@(height - padding)" />

        <text>
            <text x="@(width / 2)" y="@(height - padding / 4)">@Model.TitleX</text>
            <text transform="translate(@(padding / 4),@(height / 2)) rotate(-90)">@Model.TitleY</text>
        </text>
    }
</svg>
