<svg viewBox="0 0 @width @height" xmlns="http://www.w3.org/2000/svg" @key="@Model">
    @if (Model is null || Model.IsEmpty)
    {
        <text>
            <text y="@((height / 2))" x="@(width / 2)">NO DATA</text>
        </text>
    }
    else
    {
        foreach(Bin bin in Model)
        {
            if (bin.Value != 0)
            {
               <path fill="@Color"
                     stroke="@Color"
                     fill-opacity="0.6"
                     stroke-width="1px"
                     vector-effect="non-scaling-stroke"
                     d="@BinPath(bin)"
                     @key="@bin"
                     @onclick="async() => await OnClick.InvokeAsync(bin)">
                    <title>@($"value: {bin.Value}")</title>
                </path>
            }
        }

        int tx = 0;
        foreach (double tick in Model.AxisX.Ticks())
        {
            <line stroke="@KnownColor.Black"
                  stroke-width="1px"
                  vector-effect="non-scaling-stroke"
                  x1="@((int)(padding + (width - 2 * padding) * (tick - Model.AxisX.Min) / Model.AxisX.Size))"
                  x2="@((int)(padding + (width - 2 * padding) * (tick - Model.AxisX.Min) / Model.AxisX.Size))"
                  y1="@(height - padding - padding / (tx % 5 == 0 ? 5 : 10))"
                  y2="@(height - padding)" />

            if (tx % 5 == 0)
            {
                <text>
                    <text x="@((int)(padding + (width - 2 * padding) * (tick - Model.AxisX.Min) / Model.AxisX.Size))" y="@(height - 3 * padding / 5)">@tick</text>
                </text>
            }
            tx++;
        }

        int ty = 0;
        foreach (double tick in Model.AxisY.Ticks())
        {
            <line stroke="@KnownColor.Black"
                  stroke-width="1px"
                  vector-effect="non-scaling-stroke"
                  x1="@(padding)"
                  x2="@(padding + padding / (ty % 5 == 0 ? 5 : 10))"
                  y1="@((int)(height - padding - (height - 2 * padding) * (tick - Model.AxisY.Min) / Model.AxisY.Size))"
                  y2="@((int)(height - padding - (height - 2 * padding) * (tick - Model.AxisY.Min) / Model.AxisY.Size))" />

            if (ty % 5 == 0)
            {
                <text>
                    <text class="anchor-end" y="@((int)(height - padding - (height - 2 * padding) * (tick - Model.AxisY.Min) / Model.AxisY.Size))" x="@(3 * padding / 4)">@tick</text>
                </text>
            }
            ty++;
        }
    }

    <line stroke="@KnownColor.Black"
          stroke-width="1px"
          vector-effect="non-scaling-stroke"
          x1="@padding"
          x2="@padding"
          y1="@padding"
          y2="@(height - padding)" />

    <line stroke="@KnownColor.Black"
          stroke-width="1px"
          vector-effect="non-scaling-stroke"
          x1="@padding"
          x2="@(width - padding)"
          y1="@(height - padding)"
          y2="@(height - padding)" />

    <text x="@(width / 2)" y="@(height - padding / 4)">@(Model?.TitleX)</text>
    <text x="@(padding / 2)" y="@(padding / 2)" class="anchor-start">@(Model?.TitleY)</text>
</svg>
