<svg viewBox="0 0 @width @height" xmlns="http://www.w3.org/2000/svg" @key="@Model">
    @if (Model is null || Model.IsEmpty)
    {
        <text>
            <text x="@(width / 2)"
                  y="@((height / 2))">
                  NO DATA
            </text>
            <text x="@(width / 2)" y="@(height - padding / 4)">@(Model?.TitleX)</text>
            <text x="@(padding / 2)" y="@(padding / 2)" class="anchor-start">@(Model?.TitleY)</text>
        </text>
        <line stroke="@KnownColor.Black"
              stroke-width="1px"
              vector-effect="non-scaling-stroke"
              x1="@offsetH"
              x2="@offsetH"
              y1="@padding"
              y2="@offsetV" />

        <line stroke="@KnownColor.Black"
              stroke-width="1px"
              vector-effect="non-scaling-stroke"
              x1="@offsetH"
              x2="@(width - padding)"
              y1="@offsetV"
              y2="@offsetV" />
    }
    else
    {
        foreach(Bin bin in Model)
        {
            <path fill="@Color"
                    stroke="@Color"
                    fill-opacity="0.6"
                    stroke-width="1px"
                    vector-effect="non-scaling-stroke"
                    d="@BinPath(bin)"
                    @key="@bin"
                    @onclick="async() => await OnClick.InvokeAsync(bin)">
                <title>@($"value: {bin.Value}")</title>
            </path>
        }

        int tx = 0;
        foreach (double tick in Model.AxisX.Ticks(5))
        {
            if (tick != Model.AxisX.Min)
            {
                <line stroke="@KnownColor.Black"
                      stroke-width="1px"
                      vector-effect="non-scaling-stroke"
                      x1="@(offsetH + (int)((tick - Model.AxisX.Min) * scaleH))"
                      x2="@(offsetH + (int)((tick - Model.AxisX.Min) * scaleH))"
                      y1="@(originV - padding / (tx % 5 == 0 ? 5 : 10))"
                      y2="@(originV)" />
            }

            if (tx % 5 == 0)
            {
                if (tick != Model.AxisX.Min || originV == padding || originV == offsetV)
                {
                    <text>
                        <text x="@(offsetH + (int)((tick - Model.AxisX.Min) * scaleH))"
                              y="@(originV + 2 * padding / 5 * (originV > height / 2 ? 1 : -1))">
                              @tick
                        </text>
                    </text>
                }
            }
            tx++;
        }

        int ty = 0;
        foreach (double tick in Model.AxisY.Ticks(5))
        {
            <line stroke="@KnownColor.Black"
                  stroke-width="1px"
                  vector-effect="non-scaling-stroke"
                  x1="@(offsetH)"
                  x2="@(offsetH + padding / (ty % 5 == 0 ? 5 : 10))"
                  y1="@(offsetV - (int)((tick - Model.AxisY.Min) * scaleV))"
                  y2="@(offsetV - (int)((tick - Model.AxisY.Min) * scaleV))" />

            if (ty % 5 == 0)
            {
                <text>
                    <text class="anchor-end"
                          x="@(3 * padding / 4)"
                          y="@(offsetV - (int)((tick - Model.AxisY.Min) * scaleV))">
                          @tick
                    </text>
                </text>
            }
            ty++;
        }
        <line stroke="@KnownColor.Black"
              stroke-width="1px"
              vector-effect="non-scaling-stroke"
              x1="@offsetH"
              x2="@offsetH"
              y1="@padding"
              y2="@offsetV" />

        <line stroke="@KnownColor.Black"
              stroke-width="1px"
              vector-effect="non-scaling-stroke"
              x1="@offsetH"
              x2="@(width - padding)"
              y1="@originV"
              y2="@originV" />
        <text>
            <text x="@(width / 2)" y="@(originV > height / 2 ? height - padding / 4 : padding / 4)">@(Model?.TitleX)</text>
            <text x="@(padding / 2)" y="@(originV > height / 2 ? padding / 2 : height - padding / 2)" class="anchor-start">@(Model?.TitleY)</text>
        </text>
    }
</svg>
