<svg viewBox="@((originH > offsetH + padding) ? ((originH > width - 2 * padding) ? padding / 2 : 0) : -padding / 2) 0 @width @height" xmlns="http://www.w3.org/2000/svg" @key="@Model" style="background-color: @Theme.BackgroundString(); font-family: @Theme.FontString()">
    @if (Model is null || Model.IsEmpty)
    {
        <rect x="@offsetH"
              y="@padding"
              width="@(width - 2 * padding)"
              height="@(height - 2 * padding)"
              fill="@Theme.BackgroundString()"/>
    }
    else
    {
        foreach(KeyValuePair<string, Bin> kvp in Model)
        {
            string label = kvp.Key;
            Bin bin = kvp.Value;

            @if (bin.Value >= 0)
            {
                <rect x="@originH" 
                      y="@(padding + (int)((bin.Min - Model.BinAxis.Min) * scaleV))"
                      height="@((int)((bin.Max - bin.Min) * scaleV))"
                      width="@((int)(bin.Value * scaleH))"
                      fill="@(Model.PrimaryColor.ToHex())"
                      stroke="@(Model.PrimaryColor.ToHex())"
                      fill-opacity="0.6"
                      stroke-width="1px"
                      vector-effect="non-scaling-stroke"
                      @key="@kvp"
                      @onclick="async () => await OnClick.InvokeAsync(new Bar(label, bin.Value))">
                    <title>@bin.Value.ToString("0.##")</title>
                </rect>
                <text>
                    <text style="@TextStyles.End()"
                          x="@originH"
                          y="@((int)(padding + ((bin.Max + bin.Min) / 2 - Model.BinAxis.Min) * scaleV))"
                          fill="@Theme.TextColorString()">
                        @label
                    </text>
                </text>
            }
            else
            {
                <rect x="@(originH + (int)(bin.Value * scaleH))" 
                      y="@(padding + (int)((bin.Min - Model.BinAxis.Min) * scaleV))"
                      height="@((int)((bin.Max - bin.Min) * scaleV))"
                      width="@((int)(-bin.Value * scaleH))"
                      fill="@(Model.SecondaryColor.ToHex())"
                      stroke="@(Model.SecondaryColor.ToHex())"
                      fill-opacity="0.6"
                      stroke-width="1px"
                      vector-effect="non-scaling-stroke"
                      @key="@kvp"
                      @onclick="async () => await OnClick.InvokeAsync(new Bar(label, bin.Value))">
                    <title>@bin.Value.ToString("0.##")</title>
                </rect>
                <text>
                    <text style="@TextStyles.Start()"
                          x="@originH"
                          y="@((int)(padding + ((bin.Max + bin.Min) / 2 - Model.BinAxis.Min) * scaleV))"
                          fill="@Theme.TextColorString()">
                        @label
                    </text>
                </text>
            }
        }

        int tx = 0;
        foreach (double tick in Model.ValAxis.Ticks(5))
        {
            <line stroke="@Theme.AxisColorString()"
                  stroke-width="1px"
                  vector-effect="non-scaling-stroke"
                  y1="@(offsetV)"
                  y2="@(offsetV - padding / (tx % 5 == 0 ? 5 : 10))"
                  x1="@((int)(offsetH + (tick - Model.ValAxis.Min) * scaleH))"
                  x2="@((int)(offsetH + (tick - Model.ValAxis.Min) * scaleH))" />

            if (tx % 5 == 0)
            {
                <text>
                    <text style="@TextStyles.Middle()"
                          x="@((int)(offsetH + (tick - Model.ValAxis.Min) * scaleH))" 
                          y="@offsetV"
                          dy="1em"
                          fill="@Theme.TextColorString()">
                          @tick
                    </text>
                </text>
            }
            tx++;
        }
    }

    <line stroke="@Theme.AxisColorString()"
          stroke-width="1px"
          vector-effect="non-scaling-stroke"
          x1="@originH"
          x2="@originH"
          y1="@padding"
          y2="@offsetV" />

    <line stroke="@Theme.AxisColorString()"
          stroke-width="1px"
          vector-effect="non-scaling-stroke"
          x1="@offsetH"
          x2="@(width - padding)"
          y1="@offsetV"
          y2="@offsetV" />

    <text style="@TextStyles.Middle()"
          x="@(width / 2)"
          y="@(height - padding / 4)"
          fill="@Theme.TextColorString()">
        @(Model?.Title)
    </text>
</svg>
