<svg viewBox="0 0 @width @height" xmlns="http://www.w3.org/2000/svg" @key="@Model">
    @if (Model is null || Model.IsEmpty)
    {
        <rect x="@offsetH"
              y="@padding"
              width="@(width - 2 * padding)"
              height="@(height - 2 * padding)"
              fill="@KnownColor.WhiteSmoke"
              stroke="@KnownColor.White"
              stroke-width="1px"
              vector-effect="non-scaling-stroke" />
        <text>
            <text y="@((height / 2))" x="@(width / 2)">NO DATA</text>
        </text>
    }
    else
    {
        foreach(KeyValuePair<string, Bin> kvp in Model)
        {
            string label = kvp.Key;
            Bin bin = kvp.Value;

            <path fill="@((bin.Value >= 0 ? Model.PrimaryColor : Model.SecondaryColor).ToHex())"
                  stroke="@((bin.Value >= 0 ? Model.PrimaryColor : Model.SecondaryColor).ToHex())"
                  fill-opacity="0.6"
                  stroke-width="1px"
                  vector-effect="non-scaling-stroke"
                  d="@BinPath(bin)"
                  @key="@kvp"
                  @onclick="async () => await OnClick.InvokeAsync(new Bar(label, bin.Value))">
                <title>@($"value: {bin.Value}")</title>
            </path>
            <text>
                <text x="@((int)(originH + padding / 2 * (bin.Value < 0 ? 1 : -1)))"
                      y="@((int)(padding + ((bin.Max + bin.Min) / 2 - Model.BinAxis.Min) * scaleV))">
                      @(label?.Length > 5 ? $"{label.Substring(0, 4)}.." : label)
                </text>
            </text>
        }

        int tx = 0;
        foreach (double tick in Model.ValAxis.Ticks(5))
        {
            <line stroke="@KnownColor.Black"
                  stroke-width="1px"
                  vector-effect="non-scaling-stroke"
                  y1="@(offsetV)"
                  y2="@(offsetV - padding / (tx % 5 == 0 ? 5 : 10))"
                  x1="@((int)(offsetH + (tick - Model.ValAxis.Min) * scaleH))"
                  x2="@((int)(offsetH + (tick - Model.ValAxis.Min) * scaleH))" />

            if (tx % 5 == 0)
            {
                <text>
                    <text x="@((int)(offsetH + (tick - Model.ValAxis.Min) * scaleH))" 
                          y="@(offsetV + 2 * padding / 5)">
                          @tick
                    </text>
                </text>
            }
            tx++;
        }
    }

    <line stroke="@KnownColor.Black"
          stroke-width="1px"
          vector-effect="non-scaling-stroke"
          x1="@originH"
          x2="@originH"
          y1="@padding"
          y2="@offsetV" />

    <line stroke="@KnownColor.Black"
          stroke-width="1px"
          vector-effect="non-scaling-stroke"
          x1="@offsetH"
          x2="@(width - padding)"
          y1="@offsetV"
          y2="@offsetV" />

    <text x="@(width / 2)"
          y="@(height - padding / 4)">
        @(Model?.Title)
    </text>
</svg>
