<svg viewBox="0 0 @width @height" xmlns="http://www.w3.org/2000/svg" @key="@Model">

    <line stroke="@KnownColor.Black"
          stroke-width="1px"
          vector-effect="non-scaling-stroke"
          x1="@padding"
          x2="@padding"
          y1="@padding"
          y2="@(height - padding)" />

    <line stroke="@KnownColor.Black"
          stroke-width="1px"
          vector-effect="non-scaling-stroke"
          x1="@padding"
          x2="@(width - padding)"
          y1="@(height - padding)"
          y2="@(height - padding)" />

    <text x="@(width / 2)" y="@(height - padding / 4)">@(Model?.TitleX)</text>
    <text x="@(padding / 2)" y="@(padding / 2)" class="anchor-start">@(Model?.TitleY)</text>

    @if (Model is null || Model.IsEmpty)
    {
        <text>
            <text x="@(width / 2)"
                  y="@((height / 2))">
                  NO DATA
            </text>
        </text>
    }
    else
    {
        int tx = 0;
        foreach (double tick in Model.AxisX.Ticks())
        {
            <line stroke="@KnownColor.Black"
                  stroke-width="1px"
                  vector-effect="non-scaling-stroke"
                  x1="@((int)(padding + (width - 2 * padding) * (tick - Model.AxisX.Min) / Model.AxisX.Size))"
                  x2="@((int)(padding + (width - 2 * padding) * (tick - Model.AxisX.Min) / Model.AxisX.Size))"
                  y1="@(height - padding - padding / (tx % 5 == 0 ? 5 : 10))"
                  y2="@(height - padding)" />

            if (tx % 5 == 0)
            {
                <text>
                    <text x="@((int)(padding + (width - 2 * padding) * (tick - Model.AxisX.Min) / Model.AxisX.Size))" 
                          y="@(height - 3 * padding / 5)">
                          @tick
                    </text>
                </text>
            }
            tx++;
        }

        int ty = 0;
        foreach (double tick in Model.AxisY.Ticks())
        {
            <line stroke="@KnownColor.Black"
                  stroke-width="1px"
                  vector-effect="non-scaling-stroke"
                  x1="@(padding)"
                  x2="@(padding + padding / (ty % 5 == 0 ? 5 : 10))"
                  y1="@((int)(height - padding - (height - 2 * padding) * (tick - Model.AxisY.Min) / Model.AxisY.Size))"
                  y2="@((int)(height - padding - (height - 2 * padding) * (tick - Model.AxisY.Min) / Model.AxisY.Size))" />

            if (ty % 5 == 0)
            {
                <text>
                    <text class="anchor-end"
                          x="@(3 * padding / 4)"
                          y="@((int)(height - padding - (height - 2 * padding) * (tick - Model.AxisY.Min) / Model.AxisY.Size))">
                          @tick
                    </text>
                </text>
            }
            ty++;
        }

        foreach (Line line in Model)
        {
            if (line.DrawMode.HasFlag(DrawMode.Drawline))
            {
                <path fill="none"
                      stroke="@line.Color"
                      stroke-width="0.25em"
                      d="@LinePath(line)"
                      @key="@line">
                    <title>@($"{line.Label}")</title>
                </path>
            }

            if (line.DrawMode.HasFlag(DrawMode.Drawpoints))
            {
                foreach (PointF point in line.Points)
                {
                    <circle fill="@line.Color"
                            stroke="@KnownColor.White"
                            stroke-width="1px"
                            vector-effect="non-scaling-stroke"
                            cx="@ViewX(point.X)"
                            cy="@ViewY(point.Y)"
                            r="0.5em" />
                }
            }
        }
    }
</svg>
