<svg viewBox="@(-padding / 2) 0 @width @height" xmlns="http://www.w3.org/2000/svg" @key="@Model" style="background-color: @Theme.BackgroundString(); font-family: @Theme.FontString()">
    @if (Model is null || Model.IsEmpty)
    {
        <rect x="@offsetH"
              y="@padding"
              width="@(width - 2 * padding)"
              height="@(height - 2 * padding)"
              fill="@Theme.BackgroundString()"/>
    }
    else
    {
        <SvgTextMiddle X="@(width / 2)"
                       Y="@(height - padding / 4)"
                       Fill="@Theme.TextColor"
                       Text="@Model?.TitleX"
                       Size="40" />

        <SvgTextStart X="@(padding / 2)"
                      Y="@(padding / 2)"
                      Fill="@Theme.TextColor"
                      Text="@Model?.TitleY"
                      Size="40" />

        foreach (Line line in Model)
        {
            if (line.DrawMode.HasFlag(DrawMode.Drawline))
            {
                <path fill="none"
                      stroke="@line.Color.ToHex()"
                      stroke-width="1px"
                      vector-effect="non-scaling-stroke"
                      d="@LinePath(line)"
                      @key="@line">
                    <title>@($"{line.Label}")</title>
                </path>
            }

            if (line.DrawMode.HasFlag(DrawMode.Drawpoints))
            {
                foreach (PointF point in line.Points)
                {
                    <circle fill="@line.Color.ToHex()"
                            stroke="@Theme.BackgroundString()"
                            stroke-width="1px"
                            vector-effect="non-scaling-stroke"
                            cx="@(offsetH + (int)((point.X - Model.AxisX.Min) * scaleH))"
                            cy="@(offsetV - (int)((point.Y - Model.AxisY.Min) * scaleV))"
                            r="10px">
                        <title>(@point.X.ToString("0.##"), @point.Y.ToString("0.##"))</title>
                    </circle>
                }
            }
        }
        @Model.AxisX.RenderHorizontal(LayoutAxisX, Theme);
        @Model.AxisY.RenderVertical(LayoutAxisY, Theme);
    }
</svg>
