<svg viewBox="@(-padding / 4) 0 @width @height" xmlns="http://www.w3.org/2000/svg" @key="@Model">

    <line stroke="@KnownColor.Black"
          stroke-width="1px"
          vector-effect="non-scaling-stroke"
          x1="@offsetH"
          x2="@offsetH"
          y1="@padding"
          y2="@offsetV" />

    <line stroke="@KnownColor.Black"
          stroke-width="1px"
          vector-effect="non-scaling-stroke"
          x1="@offsetH"
          x2="@(width - padding)"
          y1="@offsetV"
          y2="@offsetV" />

    <text x="@(width / 2)" y="@(height - padding / 4)">@(Model?.TitleX)</text>
    <text x="@(padding / 2)" y="@(padding / 2)" class="anchor-start">@(Model?.TitleY)</text>

    @if (Model is null || Model.IsEmpty)
    {
        <text>
            <text x="@(width / 2)"
                  y="@((height / 2))">
                  NO DATA
            </text>
        </text>
    }
    else
    {
        int tx = 0;
        foreach (double tick in Model.AxisX.Ticks(5))
        {
            if (tick != Model.AxisX.Min)
            {
                <line stroke="@KnownColor.Black"
                      stroke-width="1px"
                      vector-effect="non-scaling-stroke"
                      x1="@((int)(offsetH + (tick - Model.AxisX.Min) * scaleH))"
                      x2="@((int)(offsetH + (tick - Model.AxisX.Min) * scaleH))"
                      y1="@(offsetV - padding / (tx % 5 == 0 ? 5 : 10))"
                      y2="@offsetV" />
            }

            if (tx % 5 == 0)
            {
                <text>
                    <text x="@((int)(padding + (width - 2 * padding) * (tick - Model.AxisX.Min) / Model.AxisX.Size))" 
                          y="@(offsetV + 2 * padding / 5)">
                          @tick
                    </text>
                </text>
            }
            tx++;
        }

        int ty = 0;
        foreach (double tick in Model.AxisY.Ticks(5))
        {
            if (tick != Model.AxisX.Min)
            {
                <line stroke="@KnownColor.Black"
                      stroke-width="1px"
                      vector-effect="non-scaling-stroke"
                      x1="@(offsetH)"
                      x2="@(offsetH + padding / (ty % 5 == 0 ? 5 : 10))"
                      y1="@((int)(offsetV - (tick - Model.AxisY.Min) * scaleV))"
                      y2="@((int)(offsetV - (tick - Model.AxisY.Min) * scaleV))" />
            }

            if (ty % 5 == 0)
            {
                <text>
                    <text class="anchor-end"
                          x="@(3 * padding / 4)"
                          y="@((int)(offsetV - (tick - Model.AxisY.Min) * scaleV))">
                          @tick
                    </text>
                </text>
            }
            ty++;
        }

        foreach (Line line in Model)
        {
            if (line.DrawMode.HasFlag(DrawMode.Drawline))
            {
                <path fill="none"
                      stroke="@line.Color"
                      stroke-width="0.5em"
                      d="@LinePath(line)"
                      @key="@line">
                    <title>@($"{line.Label}")</title>
                </path>
            }

            if (line.DrawMode.HasFlag(DrawMode.Drawpoints))
            {
                foreach (PointF point in line.Points)
                {
                    <circle fill="@line.Color"
                            stroke="@KnownColor.White"
                            stroke-width="1px"
                            vector-effect="non-scaling-stroke"
                            cx="@(offsetH + (int)((point.X - Model.AxisX.Min) * scaleH))"
                            cy="@(offsetV - (int)((point.Y - Model.AxisY.Min) * scaleV))"
                            r="0.5em">
                        <title>(@point.X.ToString("0.##"), @point.Y.ToString("0.##"))</title>
                    </circle>
                }
            }
        }
    }
</svg>
