<svg viewBox="0 0 @width @height" xmlns="http://www.w3.org/2000/svg" @key="@Model">
    @if(Model != null)
    {
        double progress = 0;

        foreach(Slice slice in Model)
        {
            if (slice.Value != 0)
            {
               <path fill="@slice.Color"
                     stroke="@slice.Color"
                     fill-opacity="0.6"
                     stroke-width="1px"
                     vector-effect="non-scaling-stroke"
                     d="@SlicePath(slice, 2 * Math.PI * progress)"
                     @key="@slice"
                     @onclick="async() => await OnClick.InvokeAsync(slice)">
                    <title>@($"{(string.IsNullOrEmpty(slice.Label) ? "value" : slice.Label)}: {slice.Value}")</title>
                </path>

                if (!string.IsNullOrEmpty(slice.Label))
                {
                    Point text_position = 10 * slice.Value > Model.Total ? SliceMidPoint(slice, 2 * Math.PI * progress) : SliceExternalPoint(slice, 2 * Math.PI * progress);

                    <text>
                        <text class="tick" x="@text_position.X" y="@text_position.Y">@slice.Label</text>
                    </text>
                }

                progress += slice.Value / Model.Total;
            }
        }
    }
</svg>