<svg viewBox="0 0 @width @height" xmlns="http://www.w3.org/2000/svg" @key="@Model" style="background-color: @Theme.BackgroundString(); font-family: @Theme.FontString()">
    @if (Model is null || Model.IsEmpty)
    {
        <circle fill="@Theme.BackgroundString()"
                fill-opacity="1.0"
                stroke="@Theme.AxisColorString()"
                stroke-width="1px"
                vector-effect="non-scaling-stroke"
                cx="@((width / 2))"
                cy="@((height / 2))"
                r="@((Math.Min(width, height) - 2 * padding) / 2)"
                style="pointer-events: none;" />
        <text>
            <text x="@(width / 2)"
                  y="@((height / 2))"
                  fill="@Theme.TextColorString()">
                  NO DATA
            </text>
        </text>
    }
    else
    {
        int c = 0;
        foreach (Rating rating in Model)
        {
            double r = Model.AxisR.Max / Model.AxisR.Size * (Math.Min(width, height) - 2 * padding) / 2;
            int cx = width / 2;
            int cy = height / 2;
            int dx = (int)(r * Math.Sin(2 * Math.PI / Model.Categories * c));
            int dy = (int)(-r * Math.Cos(2 * Math.PI / Model.Categories * c));
            int px = (int)(padding / 2 * Math.Sin(2 * Math.PI / Model.Categories * c));
            int py = (int)(-padding / 2 * Math.Cos(2 * Math.PI / Model.Categories * c));
            c++;

            <path fill="transparent"
                  stroke="@Theme.AxisColorString()"
                  stroke-width="1px"
                  stroke-opacity="0.3"
                  vector-effect="non-scaling-stroke"
                  d="M @cx @cy l @dx @dy">
            </path>
            <text>
                <text x="@(cx + dx + px)" 
                      y="@(cy + dy + py)"
                      fill="@Theme.TextColorString()">
                      @rating.Label
                </text>
            </text>
        }

        int tr = 0;
        foreach (double tick in Model.AxisR.Ticks(5))
        {
            if (tr > 0 && tr % 5 == 0)
            {
                <path fill="transparent"
                      stroke="@Theme.AxisColorString()"
                      stroke-width="1px"
                      stroke-opacity="0.3"
                      vector-effect="non-scaling-stroke"
                      d="@Path(tick)">
                </path>

                <text>
                    <text class="tick"
                          x="@(width / 2)"
                          y="@((int)(height / 2 - tick / Model.AxisR.Size * (Math.Min(width, height) / 2 - padding)))"
                          fill="@Theme.TextColorString()">
                          @tick
                    </text>
                </text>
            }
            tr++;
        }

        <g>
            <path fill="@Model.Color.ToHex()"
                  stroke="@Model.Color.ToHex()"
                  fill-opacity="0.3"
                  stroke-width="1px"
                  vector-effect="non-scaling-stroke"
                  d="@Path()"
                  @key="@Model">
            </path>

            @{
                int i = 0;
                foreach (Rating rating in Model)
                {
                double r = rating.Value / Model.AxisR.Size * (Math.Min(width, height) - 2 * padding) / 2;
                double x = width / 2 + r * Math.Sin(2 * Math.PI / Model.Categories * i);
                double y = height / 2 - r * Math.Cos(2 * Math.PI / Model.Categories * i);
                i++;

                <circle fill="@Model.Color"
                        stroke="@Theme.BackgroundString()"
                        stroke-width="1px"
                        vector-effect="non-scaling-stroke"
                        cx="@((int)x)"
                        cy="@((int)y)"
                        r="0.5em">
                    <title>@rating.Value</title>
                </circle>
                }
            }
        </g>
    }
</svg>